@model agenda_mvc.Models.Contato

@{
  ViewData["Title"] = "Deletar contato";
}

<h1>Deseja realmente deletar esse contato? Essa operação é irreversível.</h1>
<div>
  <div class="row">
    <div class="col-sm-2">
      @Html.DisplayNameFor(x => x.Nome)
    </div>
     <div class="col-sm-10">
      @Html.DisplayFor(x => x.Nome)
    </div>
    <div class="col-sm-2">
      @Html.DisplayNameFor(x => x.Telefone)
    </div>
     <div class="col-sm-10">
      @Html.DisplayFor(x => x.Telefone)
    </div>
    <div class="col-sm-2">
      @Html.DisplayNameFor(x => x.Ativo)
    </div>
     <div class="col-sm-10">
      @Html.DisplayFor(x => x.Ativo)
    </div>
  </div>
</div>
<br>
<form asp-action="Deletar">
  <input type="submit" value="Deletar" class="btn btn-danger">
</form>
<br>
<a asp-action="Index">Voltar</a>